
.link {
  stroke: green;
  stroke-width: 1px;
}

.node text {
  font-size: 8px;
  stroke: #333;
  cursos: pointer;
}

.textClass {
	stroke: #323232;
	font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 4px;
}

.node > circle status-ok {
  stroke: black;
  stroke-width: 1px;
  fill: green;
}

.node > circle status-undefined {
  stroke: black;
  stroke-width: 1px;
  fill: gray;
}

.node > circle status-bad {
  stroke: black;
  stroke-width: 1px;
  fill: red;
}
